//提案されたフォーマット:
//   #LOC_Restock_partconfigname_fieldname
//例:
//   #LOC_Restock_restock-engine-375-3_title = ...
//   #LOC_Restock_restock-engine-375-3_description = ...

Localization
{
  ja
  {
    //アクションとボタン
    #LOC_Restock_scanner_screen_on = スクリーンオン
    #LOC_Restock_scanner_screen_off = スクリーンオフ
    #LOC_Restock_scanner_screen_toggle = スクリーン切り替え

    #LOC_Restock_variant-engine_size0 = 0.625m
    #LOC_Restock_variant-engine_size0_white = 0.625m（ホワイト）
    #LOC_Restock_variant-engine_size0_grey-orange = 0.625m（オレンジ/グレー）
    #LOC_Restock_variant-engine_size1 = 1.25m
    #LOC_Restock_variant-engine_size1_white = 1.25m（ホワイト）
    #LOC_Restock_variant-engine_size1_grey-orange = 1.25m（オレンジ/グレー）
    #LOC_Restock_variant-engine_size1p5 = 1.875m
    #LOC_Restock_variant-engine_size1p5_white = 1.875m（ホワイト）
    #LOC_Restock_variant-engine_size1p5_grey-orange = 1.875m（オレンジ/グレー）
    #LOC_Restock_variant-engine_size2 = 2.5m
    #LOC_Restock_variant-engine_size2_white = 2.5m（ホワイト）
    #LOC_Restock_variant-engine_size2_grey-orange = 2.5m（オレンジ/グレー）
    #LOC_Restock_variant-engine_size3 = 3.75m
    #LOC_Restock_variant-engine_compact = コンパクト
    #LOC_Restock_variant-engine_compact_white = コンパクト（ホワイト）
    #LOC_Restock_variant-engine_compact_grey-orange = コンパクト（オレンジ/グレー）
    #LOC_Restock_variant-engine_radial = ラジアル
    #LOC_Restock_variant-engine_boattail = ボートテール
    #LOC_Restock_variant-engine_boattail_white = ボートテール（ホワイト）
    #LOC_Restock_variant-engine_boattail_grey-orange = ボートテール（オレンジ/グレー）
    #LOC_Restock_variant-engine_boattail_orange = ボートテール（オレンジ）
    #LOC_Restock_variant-engine_boattail_metal = ボートテール（メタル）
    #LOC_Restock_variant-engine_boattail_dark = ボートテール（ダーク）
    #LOC_Restock_variant-engine_boattail_size1 = ボートテール（1.25m）
    #LOC_Restock_variant-engine_boattail_size1p5 = ボートテール（1.875m）
    #LOC_Restock_variant-engine_boattail_size1_white = ボートテール（1.25m、ホワイト）
    #LOC_Restock_variant-engine_boattail_size1p5_white = ボートテール（1.875m、ホワイト）
    #LOC_Restock_variant-engine_boattail_size1_grey-orange = ボートテール（1.25m、オレンジ/グレー）
    #LOC_Restock_variant-engine_boattail_size1p5_grey-orange = ボートテール（1.875m、オレンジ/グレー）
    #LOC_Restock_variant-engine_tankbutt_size2_white = タンク下部（2.5m、ホワイト）
    #LOC_Restock_variant-engine_tankbutt_size2_grey-orange = タンク下部 （2.5m、オレンジ/グレー）
    #LOC_Restock_variant-engine_singlebell_compact = シングルコンパクト
    #LOC_Restock_variant-engine_singlebell_compact_white = シングルコンパクト（ホワイト）
    #LOC_Restock_variant-engine_singlebell_compact_grey-orange = シングルコンパクト（オレンジ/グレー）
    #LOC_Restock_variant-engine_singlebell = シングル
    #LOC_Restock_variant-engine_singlebell_white = シングル（ホワイト）
    #LOC_Restock_variant-engine_singlebell_grey-orange = シングル （オレンジ/グレー）
    #LOC_Restock_variant-engine_quadbell = クアッド
    #LOC_Restock_variant-engine_quadbell_white = クアッド （ホワイト）
    #LOC_Restock_variant-engine_quadbell_grey-orange = クアッド （オレンジ/グレー）
    #LOC_Restock_variant-engine_quadbell_compact = クアッドコンパクト
    #LOC_Restock_variant-engine_quadbell_compact_white = クアッドコンパクト（ホワイト）
    #LOC_Restock_variant-engine_quadbell_compact_grey-orange = クアッドコンパクト（オレンジ/グレー）

    #LOC_Restock_variant-engine_boattail_size2_white = ボートテール（2.5m、ホワイト）
    #LOC_Restock_variant-engine_boattail_size2_grey-orange = ボートテール（2.5m、オレンジ/グレー）
    #LOC_Restock_variant-engine_boattail_size3_white = ボートテール（3.75m、ホワイト）
    #LOC_Restock_variant-engine_boattail_size3_grey-orange = ボートテール（3.75m、オレンジ/グレー）

    #LOC_Restock_variant-engine_shroud_white = ホワイト
    #LOC_Restock_variant-engine_shroud_grey-orange = オレンジ/グレー

    #LOC_Restock_variant-engine_shroud = シュラウド
    #LOC_Restock_variant-engine_shroud_wide = ワイドシュラウド
    #LOC_Restock_variant-engine_docking = ドッキングポート

    #LOC_Restock_variant-mounting_classic = クラシック
    #LOC_Restock_variant-mounting_classic_white = クラシック（ホワイト）
    #LOC_Restock_variant-mounting_classic_grey-orange = クラシック（オレンジ/グレー）
    #LOC_Restock_variant-mounting_truss = トラス
    #LOC_Restock_variant-mounting_compact = コンパクト
    #LOC_Restock_variant-mounting_mounted = マウント

    #LOC_Restock_variant-gold-truss = ゴールド
    #LOC_Restock_variant-silver-truss = シルバー

    #LOC_Restock_variant-engine_pod-orange = オレンジ
    #LOC_Restock_variant-engine_pod-gray = グレー

    #LOC_Restock_variant-antenna_size0 = 0.625m
    #LOC_Restock_variant-antenna_size1 = 1.25m
    #LOC_Restock_variant-antenna_truss = トラス
    #LOC_Restock_variant-antenna_compact = コンパクト
    #LOC_Restock_variant-antenna_radial = ラジアル
    #LOC_Restock_variant-antenna_radial_reverse = ラジアル （反転）
    #LOC_Restock_variant-antenna_axial = アキシャル
    #LOC_Restock_variant-antenna_axial_reverse = アキシャル （反転）

    #LOC_Restock_variant-telescope_shielded = シールド
    #LOC_Restock_variant-telescope_bare = ベア

    #LOC_Restock_variant-pod_bare = ベア
    #LOC_Restock_variant-pod_fabric_green = グリーン・パディング
    #LOC_Restock_variant-pod_fabric_beige = ベージュ・パディング
    #LOC_Restock_variant-pod_fabric_white = ホワイト

    #LOC_Restock_variant-wheel_broken = ブロークン
    #LOC_Restock_variant-wheel_bare = ベア

    #LOC_Restock_variant-surface_metal = メタル
    #LOC_Restock_variant-surface_basic = ベーシック
    #LOC_Restock_variant-surface_truss = トラス
    #LOC_Restock_variant-surface_warningStripes = 警告ストライプ
    #LOC_Restock_variant-surface_thermalblankets = サーマルブランケット
    #LOC_Restock_variant-surface_yellow = イエロー
    #LOC_Restock_variant-surface_black = ブラック
    #LOC_Restock_variant-surface_white = ホワイト
    #LOC_Restock_variant-surface_blue = ブルー

    #LOC_Restock_variant-strut_classic_metal = メタル
    #LOC_Restock_variant-strut_classic_white = ホワイト
    #LOC_Restock_variant-strut_compact_metal = メタル（コンパクト）
    #LOC_Restock_variant-strut_compact_white = ホワイト（コンパクト）
    
    #LOC_Restock_variant-decoupler_metal = メタル
    #LOC_Restock_variant-decoupler_grey-orange = オレンジ/グレー

    #LOC_Restock_variant-service-bay-opaque = ソリッドキャップ
    #LOC_Restock_variant-service-bay-transparent = トラスキャップ
    #LOC_Restock_variant-service-bay-hollow = キャップなし
    #LOC_Restock_variant-service-bay-open = オープン
    #LOC_Restock_variant-service-bay-tunnel = ドッキングトンネル
    #LOC_Restock_variant-service-bay-shelves = シェルフ

    #LOC_Restock_variant-heat-shield-black = ブラック
    #LOC_Restock_variant-heat-shield-brown = クラシック
    #LOC_Restock_variant-heat-shield-red = 塗装なし

    #LOC_Restock_variant-linear-rcs-pod = ポッド
    #LOC_Restock_variant-linear-rcs-bare = ベア

    #LOC_Restock_variant-stayputnik-pod = マウントあり
    #LOC_Restock_variant-stayputnik-bare = マウントなし
    #LOC_Restock_variant-probe-gold = ゴールド
    #LOC_Restock_variant-probe-silver = シルバー
    #LOC_Restock_variant-probe-bare = ベーシック

    #LOC_Restock_variant-radiator_basic = ベーシック
    #LOC_Restock_variant-radiator_flat = フラット
    #LOC_Restock_variant-radiator_compact = コンパクト

    #LOC_Restock_variant-tube-length-short = ショート
    #LOC_Restock_variant-tube-length-med-short = ミディアムショート
    #LOC_Restock_variant-tube-length-med = ミディアム
    #LOC_Restock_variant-tube-length-med-long = ミディアムロング
    #LOC_Restock_variant-tube-length-long = ロング

    #LOC_Restock_variant-tube-length-short-alt = ショート（代替）
    #LOC_Restock_variant-tube-length-med-short-alt = ミディアムショート（代替）
    #LOC_Restock_variant-tube-length-med-alt = ミディアム（代替）
    #LOC_Restock_variant-tube-length-med-long-alt = ミディアムロング（代替）
    #LOC_Restock_variant-tube-length-long-alt = ロング（代替）

    #LOC_Restock_description-FuelCellArray = 大きな燃料電池が1つあるのに、なぜ小さな燃料電池が3つあるのでしょうか。 この燃料電池アレイは、大容量の電源が必要な状況を対象としています。 小型燃料電池と同様に、このアレイは液体燃料と酸化剤をエネルギーに変換します。
  }
}
