// Предлагаемый формат:
// #LOC_Restock_partconfigname_fieldname
// например.
// # LOC_Restock_restock-engine-375-3_title = ...
// # LOC_Restock_restock-engine-375-3_description = ...

Localization
{
  ru
  {
    // Действия и кнопки
    #LOC_Restock_scanner_screen_on = Экран включен
    #LOC_Restock_scanner_screen_off = Отключение экрана
    #LOC_Restock_scanner_screen_toggle = Переключить экран

    # LOC_Restock_variant-engine_size0 = 0,625 м
    # LOC_Restock_variant-engine_size0_white = 0,625 м (Белая пелена)
    # LOC_Restock_variant-engine_size0_grey-orange = 0,625 м (оранжевый / серый кожух)
    # LOC_Restock_variant-engine_size1 = 1,25 м
    # LOC_Restock_variant-engine_size1_white = 1,25 м (Белая пелена)
    # LOC_Restock_variant-engine_size1_grey-orange = 1,25 м (оранжевый / серый кожух)
    # LOC_Restock_variant-engine_size1p5 = 1,875 м
    # LOC_Restock_variant-engine_size1p5_white = 1,875 м (Белая пелена)
    # LOC_Restock_variant-engine_size1p5_grey-orange = 1,875 м (оранжевый / серый кожух)
    # LOC_Restock_variant-engine_size2 = 2,5 м
    # LOC_Restock_variant-engine_size2_white = 2,5 м (Белая пелена)
    # LOC_Restock_variant-engine_size2_grey-orange = 2,5 м (оранжевый / серый кожух)
    # LOC_Restock_variant-engine_size3 = 3,75 м
    # LOC_Restock_variant-engine_compact = Компактный
    # LOC_Restock_variant-engine_compact_white = Компактный (белый саван)
    # LOC_Restock_variant-engine_compact_grey-orange = Компактный (оранжевый / серый кожух)
    # LOC_Restock_variant-engine_radial = Радиальный
    # LOC_Restock_variant-engine_boattail = Boattail
    # LOC_Restock_variant-engine_boattail_white = Boattail (белый)
    # LOC_Restock_variant-engine_boattail_grey-orange = Boattail (оранжевый / серый)
    # LOC_Restock_variant-engine_boattail_orange = Boattail (оранжевый)
    # LOC_Restock_variant-engine_boattail_metal = Boattail (Металл)
    # LOC_Restock_variant-engine_boattail_dark = Boattail (Темный)
    # LOC_Restock_variant-engine_boattail_size1 = Boattail (1,25 м)
    # LOC_Restock_variant-engine_boattail_size1p5 = Boattail (1,875 м)
    # LOC_Restock_variant-engine_boattail_size1_white = Boattail (1,25 м, белый)
    # LOC_Restock_variant-engine_boattail_size1p5_white = Boattail (1,875 м, белый)
    # LOC_Restock_variant-engine_boattail_size1_grey-orange = Boattail (1,25 м, оранжевый / серый)
    # LOC_Restock_variant-engine_boattail_size1p5_grey-orange = Boattail (1,875 м, оранжевый / серый)
    # LOC_Restock_variant-engine_tankbutt_size2_white = Tankbutt (2,5 м, белый)
    # LOC_Restock_variant-engine_tankbutt_size2_grey-orange = Tankbutt (2,5 м, оранжевый / серый)
    # LOC_Restock_variant-engine_singlebell_compact = Одноместный компактный
    # LOC_Restock_variant-engine_singlebell_compact_white = Одинарный компактный (белый кожух)
    # LOC_Restock_variant-engine_singlebell_compact_grey-orange = Одинарный компактный (оранжевый / серый кожух)
    # LOC_Restock_variant-engine_singlebell = Один
    # LOC_Restock_variant-engine_singlebell_white = Одиночный (белый саван)
    # LOC_Restock_variant-engine_singlebell_grey-orange = Одиночный (оранжевый / серый покров)
    # LOC_Restock_variant-engine_quadbell = Quad
    # LOC_Restock_variant-engine_quadbell_white = Quad (Белая пелена)
    # LOC_Restock_variant-engine_quadbell_grey-orange = Quad (оранжевый / серый покров)
    # LOC_Restock_variant-engine_quadbell_compact = Quad Compact
    # LOC_Restock_variant-engine_quadbell_compact_white = Quad Compact (Белый кожух)
    # LOC_Restock_variant-engine_quadbell_compact_grey-orange = Quad Compact (оранжевый / серый кожух)

    # LOC_Restock_variant-engine_boattail_size2_white = Boattail (2,5 м, белый)
    # LOC_Restock_variant-engine_boattail_size2_grey-orange = Boattail (2,5 м, оранжевый / серый)
    # LOC_Restock_variant-engine_boattail_size3_white = Boattail (3,75 м, белый)
    # LOC_Restock_variant-engine_boattail_size3_grey-orange = Boattail (3,75 м, оранжевый / серый)

    # LOC_Restock_variant-engine_shroud_white = Белый саван
    # LOC_Restock_variant-engine_shroud_grey-orange = Металлический кожух

    # LOC_Restock_variant-engine_shroud = Покрытый
    # LOC_Restock_variant-engine_shroud_wide = Широкая окутанная
    # LOC_Restock_variant-engine_docking = Док-порт

    # LOC_Restock_variant-mount_classic = Классический
    # LOC_Restock_variant-mount_classic_white = Классический (Белый саван)
    # LOC_Restock_variant-mount_classic_grey-orange = классический (оранжевый / серый саван)
    # LOC_Restock_variant-mount_truss = Балка
    # LOC_Restock_variant-mount_compact = Компактный
    # LOC_Restock_variant-mount_mounted = Установлен

    # LOC_Restock_variant-gold-truss = Золото (Балка)
    # LOC_Restock_variant-silver-truss = Серебро (Балка)

    # LOC_Restock_variant-engine_pod-orange = Стручок (оранжевый)
    # LOC_Restock_variant-engine_pod-gray = Стручок (серый)

    # LOC_Restock_variant-antenna_size0 = 0,625 м
    # LOC_Restock_variant-antenna_size1 = 1,25 м
    # LOC_Restock_variant-antenna_truss = Балка
    # LOC_Restock_variant-antenna_compact = Компактный
    # LOC_Restock_variant-antenna_radial = Радиальный
    # LOC_Restock_variant-antenna_radial_reverse = Радиальный (в обратном порядке)
    # LOC_Restock_variant-antenna_axial = Осевой
    # LOC_Restock_variant-antenna_axial_reverse = Осевой (в обратном порядке)

    # LOC_Restock_variant-telescope_shielded = Экранированный
    # LOC_Restock_variant-telescope_bare = Голый

    # LOC_Restock_variant-pod_bare = Голый
    # LOC_Restock_variant-pod_fabric_green = Зеленая набивка
    # LOC_Restock_variant-pod_fabric_beige = Бежевая набивка
    # LOC_Restock_variant-pod_fabric_white = Белая набивка

    # LOC_Restock_variant-wheel_broken = Сломан
    # LOC_Restock_variant-wheel_bare = Голый

    # LOC_Restock_variant-surface_metal = Металл
    # LOC_Restock_variant-surface_basic = Базовый
    # LOC_Restock_variant-surface_truss = Балка
    # LOC_Restock_variant-surface_warningStripes = Предупреждающие полосы
    # LOC_Restock_variant-surface_thermalblankets = Теплоизоляция
    # LOC_Restock_variant-surface_yellow = Желтый
    # LOC_Restock_variant-surface_black = Черный
    # LOC_Restock_variant-surface_white = Белый
    # LOC_Restock_variant-surface_blue = Синий

    # LOC_Restock_variant-strut_classic_metal = Металл
    # LOC_Restock_variant-strut_classic_white = Белый
    # LOC_Restock_variant-strut_compact_metal = Металл (компактный)
    # LOC_Restock_variant-strut_compact_white = Белый (компактный)
    
    # LOC_Restock_variant-decoupler_metal = Металл
    # LOC_Restock_variant-decoupler_grey-orange = оранжевый / серый

    # LOC_Restock_variant-service-bay-opaque = Сплошные заглушки
    # LOC_Restock_variant-service-bay-transparent = Заглушки фермы
    # LOC_Restock_variant-service-bay-hollow = Без заглушек
    # LOC_Restock_variant-service-bay-open = Открыть
    # LOC_Restock_variant-service-bay-tunnel = Стыковочный туннель
    # LOC_Restock_variant-service-bay-shelves = Полки

    # LOC_Restock_variant-heat-shield-black = Черный
    # LOC_Restock_variant-heat-shield-brown = Классический
    # LOC_Restock_variant-heat-shield-red = Неокрашенный

    # LOC_Restock_variant-linear-rcs-pod = Заполнено
    # LOC_Restock_variant-linear-rcs-bare = Без покрытия

    # LOC_Restock_variant-stayputnik-pod = Смонтированный
    # LOC_Restock_variant-stayputnik-bare = Не установлен
    # LOC_Restock_variant-probe-gold = Золото
    # LOC_Restock_variant-probe-silver = Серебро
    # LOC_Restock_variant-probe-bare = Базовый

    # LOC_Restock_variant-radiator_basic = Базовый
    # LOC_Restock_variant-radiator_flat = Плоский
    # LOC_Restock_variant-radiator_compact = Компактный

    # LOC_Restock_variant-tube-length-short = Короткий
    # LOC_Restock_variant-tube-length-med-short = Средний-короткий
    # LOC_Restock_variant-tube-length-med = Средний
    # LOC_Restock_variant-tube-length-med-long = Средней длины
    # LOC_Restock_variant-tube-length-long = Длинный

    # LOC_Restock_variant-tube-length-short-alt = Короткий (альтернативный)
    # LOC_Restock_variant-tube-length-med-short-alt = Средне-короткий (альтернативный)
    # LOC_Restock_variant-tube-length-med-alt = Средний (альтернативный)
    # LOC_Restock_variant-tube-length-med-long-alt = Средне-длинный (альтернативный)
    # LOC_Restock_variant-tube-length-long-alt = Длинный (альтернативный)

    # LOC_Restock_description-FuelCellArray = Зачем нужен только один маленький топливный элемент, когда у вас может быть три больших? Матрица топливных элементов идеально подходит для ситуаций, когда вам нужен большой источник надежной энергии. Как и меньшие топливные элементы, этот массив работает путем преобразования топлива и окислителя в энергию.
  }
}