tmp/
deploy/
build/
build-deploy/
.vs/
.idea/
bin/
obj/
*.swp
**/@thumbs

Distribution/Restock/GameData/ReStock/Spaces/**/*.png
Distribution/Restock/GameData/ReStock/Props/**/*.png
Distribution/RestockPlus/GameData/ReStockPlus/Props/**/*.png
Distribution/RestockPlus/GameData/ReStockPlus/Spaces/**/*.png
Distribution/Restock/GameData/ReStock/RestockPatchDisabler.cfg
Source/Restock/dlls
